################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/XMLWorker/v15/Server/sqlite3
/.vs/XMLWorker/v15
/XMLWorker/bin
/XMLWorker/obj
/XMLWorker.Tests/bin
/XMLWorker.Tests/obj
